<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ReceiptView</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ReceiptView</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img [src]="photo.webviewPath" style="height: 75vh;
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  "></ion-img>

  <ion-item>{{this.message}}</ion-item>
  <ion-item>{{this.prediction}}</ion-item>
</ion-content>
